@define-color background rgba(0, 0, 0, 0.8);
@define-color foreground #d2cad3;
@define-color yellow     #996f06;
@define-color red        #a52e4d;
@define-color green      #228039;

* {
  border: none;
  border-radius: 0;
  font-family: "JetBrainsMono Nerd Font";
  font-size: 13px;
  min-height: 0;
}

window#waybar {
  background: @background;
  color: @foreground;
}

#battery.warning,
#memory.warning,
#cpu.warning {
  border-top: 3px solid @yellow;
}

#battery.critical,
#memory.critical,
#cpu.critical {
  border-top: 3px solid @red;
}

@keyframes blink {
  to {
      opacity: 0;
  }
}

#battery.charging {
  border-top: 3px solid @green;

  animation-name: blink;
  animation-duration: 0.5s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

#network,
#cpu,
#memory,
#backlight,
#battery,
#pulseaudio,
#clock,
#tray {
  padding: 0 6px;
  margin: 0 6px;
}
