@define-color background  #151510;
@define-color foreground  #d2cad3;
@define-color black       #08040b;
@define-color yellow      #996f06;
@define-color red         #a52e4d;
@define-color green       #228039;
@define-color blue        #006fc1;
@define-color purple      #aa3c9f;
@define-color gray        #bbb3c1;
@define-color lightblue   #88c4f4;
@define-color lightpurple #c29dd5;

* {
    border: none;
    border-radius: 0px;
    font-family: "Agave Nerd Font";
    font-size: 14px;
    min-height: 0;
}

window#waybar {
    background-color: transparent;
    color: @foreground;
}

#custom-launcher,
#window,
#tray,
#battery,
#custom-powerdraw,
#pulseaudio,
#backlight,
#cpu,
#memory,
#temperature,
#custom-gpu-usage,
#custom-gpu-usage-2,
#clock,
#custom-media,
#custom-lock {
    color: @foreground;
    padding: 0 12px;
}

/* left modules */
#custom-launcher {
    background-color: @lightpurple;
    color: @black;
    border-radius: 0px;
    padding-right: 17px;
    padding-left: 7px;
    font-size: 20px;
}

#window {
    background-color: @background;
    background-image: linear-gradient(to right, @lightpurple 0%, @lightblue 100%);
    color: @black;
    border-radius: 0px;
    margin-left: 0px;
    padding-left: 24px;
}

#tray {
    background-color: @lightblue;
    color: @black;
    border-radius: 0px 20px 20px 0px;
}

/* center modules */
#battery {
    background-color: @background;
    border-radius: 20px 0px 0px 20px;
}
#battery.charging, #battery.plugged {
    background-color: @background;
    background-image: linear-gradient(to right, @green 0%, @background 100%);
}
@keyframes blink {
    to {
        background-color: #ffffff;
        color: #000000;
    }
}
#battery.critical:not(.charging) {
    background-color: @background;
    background-image: linear-gradient(to right, @red 0%, @background 100%);
    animation-name: blink;
    animation-duration: 0.5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

#custom-powerdraw {
    background-color: @background;
}

#pulseaudio {
    background-color: @background;
}

#backlight {
    background-color: @background;
}

#cpu {
    background-color: @background;
}

#memory {
    background-color: @background;
}

#temperature {
    background-color: @background;
}

#custom-gpu-usage {
    background-color: @background;
}

#custom-gpu-usage-2 {
    background-color: @background;
}

#clock {
    background-color: @background;
    border-radius: 0px 20px 20px 0px;
}

/* right modules */
#custom-media {
    background-color: @foreground;
    background-image: linear-gradient(62deg, @lightblue 0%, @lightpurple 100%);
    color: @black;
    border-radius: 20px 0px 0px 20px;
    margin-right: 0px;
    padding-right: 24px;
}

#custom-lock {
    background-color: @lightpurple;
    color: @black;
    border-radius: 0px;
    padding-left: 11px;
    padding-right: 13px;
    font-size: 20px;
}
