@define-color background #111111;
@define-color foreground #c6c6c6;
@define-color black      #111111;
@define-color yellow     #c4a000;
@define-color red        #ac2c2c;
@define-color green      #4e9a06;

* {
  border: none;
  border-radius: 0;
  font-family: Regular, "JetBrainsMono Nerd Font";
  font-size: 13px;
  min-height: 0;
}
