#tray {
    margin-left: 4px;
    margin-right: 4px;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 20px;
    transition: none;
    color: #4d4d4d;
    background: rgba(119, 136, 153, 0.85);
}
