@define-color background #111111;
@define-color foreground #c6c6c6;
@define-color black      #111111;
@define-color yellow     #c4a000;
@define-color red        #ac2c2c;
@define-color green      #4e9a06;

* {
  border: none;
  border-radius: 0;
  font-family: Regular, "JetBrainsMono Nerd Font";
  font-size: 13px;
  min-height: 0;
}

window#waybar {
  background: @background;
  color: @foreground;
  transition-property: background-color;
  transition-duration: 0.5s;
}

#battery.warning,
#memory.warning,
#cpu.warning {
  border-bottom: 3px solid @yellow;
}

#battery.critical,
#memory.critical,
#cpu.critical {
  border-bottom: 3px solid @red;
}

#battery.charging {
  border-bottom: 3px solid @green;
}

#network,
#cpu,
#memory,
#backlight,
#battery,
#clock {
  padding: 0 6px;
  margin: 0 6px;
}
